# Class 8
## Dictionaries

In [2]:
#     0    1       2
l1 = [2,"Qasim", "A.I"]
#     -3   -2      -

#list[element1, element2, elemt=ent3,....]
#list[index]
l1

[2, 'Qasim', 'A.I']

# Dictionary

In [3]:
# item = key:value

# {key1: value1,
# key2: value2,
# key3: value3,...}

In [4]:
d1 = {"id":2,
     "name":"Badar",
     "Course":"AI"}
d1

{'id': 2, 'name': 'Badar', 'Course': 'AI'}

In [9]:
d1 = {} #empty dictionary
d1["id"] = 10
d1["name"] = "Badar"
d1["course"] = "AI"
d1

{'id': 10, 'name': 'Badar', 'course': 'AI'}

In [13]:
# if keys are diuplciated then last one key will be set with value, 
d1 = {"id":2,
     "name":"Badar",
      "id" : 25,
     "Course":"AI"}
d1

{'id': 25, 'name': 'Badar', 'Course': 'AI'}

In [15]:
d1 = {'id': 25, 'name': 'Badar', 'Course': 'AI'}
print(d1)
d1.clear()
print(d1)

{'id': 25, 'name': 'Badar', 'Course': 'AI'}
{}

In [19]:
# now delete the list, delete will remove index and value both
d1 = {'id': 25, 'name': 'Badar', 'Course': 'AI'}
print(d1)
#d1.delete()
del d1
print(d1)

{'id': 25, 'name': 'Badar', 'Course': 'AI'}
{'id': 25, 'name': 'Badar', 'Course': 'AI'}

In [23]:
d1 = {'id': 25, 'name': 'Badar', 'Course': 'AI'}
print(d1)
d2 = d1.copy()
d1["name"] = "Yousaf" #  here update the name in d1
print(d1)
print(d2)

{'id': 25, 'name': 'Badar', 'Course': 'AI'}
{'id': 25, 'name': 'Yousaf', 'Course': 'AI'}
{'id': 25, 'name': 'Badar', 'Course': 'AI'}

In [24]:
#prompt keys
#create dictionary against keys
l1 = ['name','id','contact','DOB','CNIC']

dict.fromkeys(l1)

{'name': None, 'id': None, 'contact': None, 'DOB': None, 'CNIC': None}

In [53]:
#take input from user and create dictionary
id = input("Enter id:")
name = input("Enter name:")
contact = input("Enter contact:")
DOB = input("Enter DOB:")
CNIC = input("Enter CNIC:")
l1 = [id,name,contact,DOB,CNIC]
dict.fromkeys(l1)

Enter id:a
Enter name:a
Enter contact:a
Enter DOB:a
Enter CNIC:a

{'a': None}

In [ ]:
l1= input("Enter keys")
print(l1)

In [2]:
d1 = input("Enter keys").split(",")
dict.fromkeys(d1)

Enter keysa,b,c,d,e,f

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None, 'f': None}

In [10]:
l1 = input("Enter keys").split(",")
l2 = input("Enter values").split(",")

dl = {}

for i in range(len(l1)):
    dl[l1[i]] = l2[i]
print(dl)

Enter keysa,b,c
Enter valuesx,y,z
{'a': 'x', 'b': 'y', 'c': 'z'}

In [3]:
l1 = input("Enter keys").split(",")
l2 = input("Enter values").split(",")

dl = {}

counter=0
while counter<len(l1):
    dl[l1[counter]] = l2[counter]
    counter += 1
    print(dl)

Enter keysa,b,c
Enter valuesx,y,z
{'a': 'x'}
{'a': 'x', 'b': 'y'}
{'a': 'x', 'b': 'y', 'c': 'z'}

In [2]:
l1 = input("Enter keys").split(",")
l2 = input("Enter values").split(",")

{l1[i]:l2[i] for i in range(len(l1))}

Enter keysa,b,c
Enter valuesx,y,z

{'a': 'x', 'b': 'y', 'c': 'z'}

In [5]:
l1 = input("Enter keys: ").split(",")
l2 = input("Enter values: ").split(",")

list(zip(l1,l2))

Enter keys: a,b,c
Enter values: x,y,z

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [8]:
l1 = input("Enter keys: ").split(",")
l2 = input("Enter values: ").split(",")
dl={}
for k v in zip(l1,l2):
    dl[k] = v
    print dl

SyntaxError: invalid syntax (<ipython-input-8-9d0ef467c0e4>, line 4)

In [9]:
l1 = input("Enter keys: ").split(",")
l2 = input("Enter values: ").split(",")
print(zip(l1,l2))
dict(zip(l1,l2))

Enter keys: a,b,c
Enter values: x,y,z
<zip object at 0x0000000C6F40A3C8>

{'a': 'x', 'b': 'y', 'c': 'z'}

In [ ]:
{
    id:20
    name: 'ABC'
    skills: [pyton,c,C++,...]
}

In [13]:
# take input from student
dictl = {}
dictl["id"] = input("Enter id: ")
dictl["name"] = input("Enter name: ")
dictl["skills"] = input("Enter skills: ").split(",")
dictl

Enter id: 12
Enter name: badar
Enter skills: Python, C#, JS

{'id': '12', 'name': 'badar', 'skills': ['Python', ' C#', ' JS']}

In [23]:
#task
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)
print(a,b,c, sep="\n")
list(d)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [26]:
#task
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,b,c)
#print(a,b,c, sep="\n")
sorted(list(d), reverse=True)

[('J', 'j', '9'),
 ('I', 'i', '8'),
 ('H', 'h', '7'),
 ('G', 'g', '6'),
 ('F', 'f', '5'),
 ('E', 'e', '4'),
 ('D', 'd', '3'),
 ('C', 'c', '2'),
 ('B', 'b', '1'),
 ('A', 'a', '0')]

#task
{
    a:1
    b:5
    c:2
    d:3
}
sorting dictionary base on keys
{
    a:1
    b:2
    c:5
    d:3
}

sorting dictionary base on values
{
    a:1
    b:2
    d:3
    c:5
}

In [30]:
d = [('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

sorted(d,reverse=True) # it will sort on first column

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [36]:
# column based sort
d = [('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

sorted(d,reverse=True, key=lambda x:x[2]) # sort with values and column

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [46]:
# column based sort
d = [('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

def abc(x):
  return x[2] #sort on col, pass col number in it to sort on that column


#abc(('A','z','0'))
#sorted(d,reverse=True, key=lambda x:x[2])
sorted(d,reverse=True, key=abc)

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [58]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}
sorted(d1.values()) # sort by values


d2 = {}
for k in sorted(d1.keys()):
    print(k)
    d2[k] = d1[k]
d2

a
b
c
d

{'a': 1, 'b': 2, 'c': 5, 'd': 3}

In [64]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}
list(d1.items())
{k:v for k,v in sorted(d1.items(), key=lambda x:x[0])} # sort by col
{k:v for k,v in sorted(d1.items(), key=lambda x:x[1])} # sort by val
{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True)} # sort and revers values

{'c': 5, 'd': 3, 'b': 2, 'a': 1}

In [65]:
# take input from student, 
#(id:'', name: '', skills=[a,b,c]}
 #append data in dictionary after asking yes if no then break

In [73]:
dict = {}
dict["id"] = input("Enter id:")
dict["name"] = input("Enter name:")
dict["skills"] = input("Enter skills")

i=3
while input("Enter more skills") == "y"
    dict["skills"].append(input("Enter more skills"))
    print(dict)
    i+=1

SyntaxError: invalid syntax (<ipython-input-73-d8c538424775>, line 7)

In [77]:
students = []
flag = ''
while flag!='n':
    d1 = {}
    d1['id'] = input("ID:")
    d1['name'] = input("Name:")
    d1['skills'] = input("Skills").split(",")
    students.append(d1)
    flag = input("Enter more skills y/n: ")
    students

ID:12
Name:asd
Skillsas,dasd,
Enter more skills y/n: 12
ID:12
Name:asd
Skillsasd,asd
Enter more skills y/n: n

#Home work
#Python Test will be from chap 1 to chap 40
# read first chapter 10 python
# chapter 2 of Data science from scratch
#10 assignment on github