In [3]:
import this

In [3]:
5 + 8 # Operation
#Operators
    # +, - ,/ ,*, %, ** 
    # =, +=, -=, ?=, *=, %=
    # ==, >, <, >=, <=
# 5, 8 Oprands

13

In [4]:
#complex operation
#PEMDAS
5 + 7 - 8 * (2/2) + 200

204.0

In [9]:
a = 8 #shallow copy
b = 8
print (a)
print (b)
print (id(a))
print (id(b))

8
8
140736714547824
140736714547824

In [10]:
a=True
type(a)

bool

In [11]:
a = "pakistan"
a*2

'pakistanpakistan'

In [13]:
'1'+'7'

'17'

In [16]:
int("1") + int('1')
#type casting
#implicit casting
#explicit casting

2

In [26]:
#index      0         1       2     3    
names  = ["Ali", "Hamza", "Junaid",200 ]
#index      -4       -3      -2     -1
print(type(names))
print(names)
print(names[-4])
print(names[0])

<class 'list'>
['Ali', 'Hamza', 'Junaid', 200]
Ali
Ali

In [36]:
#tuple value cannot be update
#index      0         1       2     3    
names  = ("Ali", "Hamza", "Junaid",200 )
#index      -4       -3      -2     -1
print(type(names))
#print names
print(names[-3])

<class 'tuple'>
Hamza

In [47]:
#set
#index      0         1       2     3    
names  = {"Ali", "Hamza", "Junaid",200,"Badar" }
#index      -4       -3      -2     -1
names = list(names)
#print(names[-3]) error
print(names[0])
print(type(names))

200
<class 'list'>

In [56]:
data={
    #key: value
    'name':"Badar Yousaf",
    'fname': "M Yousaf",
    5 : "Pakistan",
    #['a']: True # list cannot be defined in datatype
    "a": [True, "Pakistan", 20,3.0]
}
data[5]
data['name']
data["a"]

[True, 'Pakistan', 20, 3.0]

In [9]:
a="Badar Yousaf"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
a = "bAdarYouSAF"
a.upper()

'BADARYOUSAF'

In [66]:
a = "bAdar YouSAF"
a.capitalize()

'Badar yousaf'

In [72]:
a = "     bAdar YouSAF    "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))
print(a.rstrip())
print(len(a.rstrip()))

21
bAdar YouSAF
16
     bAdar YouSAF
17

In [80]:
b = "       badar    yousaf      "
b.split()

['badar', 'yousaf']

In [83]:
b = "       badar    yousaf      "
b.split()
" ".join(b)

'              b a d a r         y o u s a f            '

In [85]:
a =  "we are pakistan we love our country"
a

'we are pakistan we love our country'

In [101]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#a =  "we are pakistan we love our country"
print(a)
print(a[::])
print(a[::-1])
print(a[7:15:1])

we are pakistan we love our country
we are pakistan we love our country
yrtnuoc ruo evol ew natsikap era ew
pakistan

In [108]:
print(a.index("pakistan"))
a[a.index("pakistan"):15:1]

7

'pakistan'

In [111]:
a="890890asdas98080"
a.join([i for i in a if str.isnumeric(i)])

'8890890asdas980809890890asdas980800890890asdas980808890890asdas980809890890asdas980800890890asdas980809890890asdas980808890890asdas980800890890asdas980808890890asdas980800'

In [115]:
#concatenation
card ="""
Bahria University Islamabad
name: Badar Yousaf
FName: M Yousaf

"""
print(card)

Bahria University Islamabad
name: Badar Yousaf
FName: M Yousaf

In [150]:
#concatenation
name="badar"
fname="yousaf"
#uni="Bahria"
score=3
card ="""
Bahria University Islamabad
name: %s
FName: %s
score: %d
"""
print(card%(name,fname,score))

Bahria University Islamabad
name: badar
FName: yousaf
score: 3

In [125]:
#concatenation
name="badar"
fname="yousaf"
#uni="Bahria"
score=3
card =f"""
Bahria University Islamabad
name: {name}
FName: {fname}
score: {score}
"""
print(card)

Bahria University Islamabad
name: badar
FName: yousaf
score: 3

In [128]:
#concatenation
name="badar"
fname="yousaf"
#uni="Bahria"
score=3
card ="""
Bahria University Islamabad
name: {}
FName: {}
score: {}
"""
print(card.format(name,fname,score))

Bahria University Islamabad
name: badar
FName: yousaf
score: 3

In [130]:
#concatenation
name="badar"
fname="yousaf"
#uni="Bahria"
score=3
card ="""
Bahria University Islamabad
name: {a}
FName: {b}
score: {c}
"""
print(card.format(a=name,b=fname,c=score))

Bahria University Islamabad
name: badar
FName: yousaf
score: 3

In [133]:
#concatenation
name="badar"
fname="yousaf"
#uni="Bahria"
score=3
card ="""
Bahria University Islamabad
name: {2}
FName: {1}
score: {0}
"""
print(card.format(name,fname,score))

Bahria University Islamabad
name: 3
FName: yousaf
score: badar

In [135]:
"1" + '1'

'11'

In [5]:
#concatenation
name="badar"
fname="yousaf"
score=3
print("Bahria university Islamabd \nStudent Name:" + name + " " + 
      "\nFather name: " + fname +
     "\nScore: "+ str(score))

Bahria university Islamabd
Student Name:badar
Father name: yousaf
Score: 3

In [8]:
print(a)

NameError: name 'a' is not defined

In [15]:
print(a.capitalize())

Badaryousaf

In [22]:
 s = "Hi This is Badar"
print(s.casefold())

hi this is badar

In [28]:
print(s.center(30))

       Hi This is Badar

In [38]:
s="your name is badar"
print(s.encode())

b'your name is badar'

In [44]:
s="badaryousaf"
print(s.endswith("dar"))

False

In [50]:
s="badar\tyousaf"
print(s.expandtabs(5))

badar     yousaf

In [55]:
print(s.find("saf"))

9

In [60]:
marks = 40
total=50
line = "My marks are {} out {}"
print(line.format(marks,total))

My marks are 40 out 50

In [63]:
print(line.index("marks"))

3

In [67]:
s = "sdfas234234"
print(s.isalnum())
a="sdfsdfs"
print(a.isalpha())

True
True

In [72]:
s="asd as# "
print(s.isprintable())

True

In [75]:
s="    "
print(s.isspace())

True

In [85]:
s="badar yousaf at piaic"
print(s.ljust(40))
print(s.rjust(40))

badar yousaf at piaic
                   badar yousaf at piaic

In [89]:
print(s.zfill(30))

000000000badar yousaf at piaic

In [96]:
x=18 
y=5
print(x%y)

3

In [101]:
x=2
y=3
print(x**y)

8

In [103]:
x=18 
y=5
print(x//y)

3

In [106]:
x=5
y=5
print(x is not y)

False

In [108]:
x=5
y=5
print(x is y)

True

In [112]:
x=[5,4,5,6]
y=5
print(y not in x)
print(y  in x)

False
True